:root{
    --priamryFont:'Poppins';
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:27px 0;
}
.list a{
color: #5B5B5B;
font-family: var(--priamryFont);
font-size: 18px;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.profile{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.profile a{
color: #000000;
font-family: var(--priamryFont);
font-size: 18px;
font-weight: 500;

}
@media screen and (min-width:320px) and (max-width:768px) {
  .header .list{
    display: none;
  }
   .header .container{
    width:calc(100% - 40px);
    
}
   
}
@media screen and (min-width:768px) and (max-width:922px) {
  .header .list ul{
    gap:20px;
  }
  .header .list a{
    font-size: 16px;
  }
     .header .container{
    width:calc(100% - 80px);
    
}
}
.welcome{
    background-color:#9DCCFF33;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    
    font-family: var(--priamryFont);
      padding:60px 0;
      
}
.welcome h2{
    font-size: 30px;
    font-weight: 600;
    color: #252641;
    
}
.welcome a{
    font-weight: 700;
    font-size: 15px;
    color: #49BBBD;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}
.course{
    background-color: #FFFFFF;
    padding: 15px;    
    border-radius: 5%;
    
}
.course p{
    font-size:15px ;
    font-weight: 500;
    color: #252641;
}
.course .profile span{
      font-size:12px ;
    font-weight:500 ;
    color:#000000;
    padding: 16px 0;
}
.course  .less{
font-size: 12px;
font-weight: 600 ;
color:#00000080;
padding: 10px;
text-align:right;
}
.course .line{
    width: 100%;
    height: 4px;
    background-color: #D9D9D9;
    border-radius: 2px;
    overflow: hidden;
}
.course .line .line-bar{
    height: 100%;
    width: 75%;
    background-color: #49BBBD;
    border-radius: 2px;

}
@media screen and (min-width:320px) and (max-width:768px){
    .welcome .container {
     width: calc(100% - 40px);
  }
     .welcome {
    padding: 15x 0;

  }
  .welcome h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .welcome a {
    display: none;
  }
  .course .profile img {
   width: 20px;
   height: 20px;
}
 
  .courses {
    gap: 20px;
    padding: 15px 0;
  }
  .course {
    width: 100%;
  }
  .course img{
    width: 100%;
   
  }
}

@media screen and (min-width:768px) and (max-width:922px) {
    .welcome .container {
    width: calc(100% - 80px);
  }
 .welcome {
    padding: 35px 0;
    border-left: 15px solid #FFFFFF;
    border-right: 15px solid #FFFFFF;
    
  }

  .welcome h2 {
    font-size: 25px;
  }
  .welcome a{
    margin-left: 20px;
  }

  .courses {
    gap: 30px;
    padding: 20px 0;
  }

  .course {
    width: calc((100% - 30px) / 2);
  }
}
.choice{
    font-family: var(--priamryFont);
        
}
.choice h2{
   margin-top: 70px;
   margin-bottom: 30px;
   font-size:27px ;
   font-weight:600 ;
   color: #252641;
}
.filed{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}
.icon{
    width: calc((100% - 150px) / 4);
    align-items: center;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 10px 30px #00000014;
    padding: 30px;
    
}
.icon h3{
    font-weight: 600;
    color:#000000;
    font-size: 24px;
    padding: 12px;
}
.icon p{
    color: #696984;
    font-size: 14px;
    text-align: center;
}

.icon .design{
    background-color: #49BBBD4D;
    padding: 20px;
}
.icon .development{
    background-color: #5B72EE4D;
    padding: 20px;
}
.icon .money{
    background-color: #9DCCFF4D;
    padding: 20px;
}
.icon .business1{
    background-color: #00CBB84D;
    padding: 20px;

}
.icon .money{
    background-color: #9DCCFF4D;
    padding: 20px;
}
.icon .marketing{
    background-color: #F48C064D;
    padding: 20px;
}
.icon .photogrphy{
    background-color: #EE645B4D;
    padding: 20px;
}
.icon .acting{
    background-color:#2526414D ;
    padding: 20px;
}
.icon .business{
   background-color:#00CBB84D ;
    padding: 20px;   
}
@media screen and (min-width:320px) and (max-width:768px) {
     .choice .container {
    width: calc(100% - 40px);
  }

      .choice h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
  }
  .field {
    gap: 20px;
  }
  .icon {
    width: 100%;
    padding: 20px;
  }
  .icon h3 {
    font-size: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:922px) {
     .choice .container {
    width: calc(100% - 80px);
  }
  .choice h2 {
    margin-top: 50px;
    font-size: 25px;
  }

  .field {
    gap: 30px;
  }

  .icon {
    width: calc((100% - 60px) / 2);
  }
  
}